typeattribute hal_nfc_default binder_in_vendor_violators;

allow hal_nfc_default system_data_file:dir { add_name write };
allow hal_nfc_default system_data_file:file { read getattr open };
allow hal_nfc_default nxpese_hwservice:hwservice_manager { add find };
allow hal_nfc_default nxpnfc_hwservice:hwservice_manager { add find };

allow hal_nfc_default nfc_vendor_data_file:dir search;
